.ambience-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

.wrapper {
height: 100px;
}

.slider-wrapper {
display: flex;
padding-left: 3%;
}

.slider-wrapper img:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
  cursor: pointer;
}

p {
  font-family: 'Poppins'; 
  font-weight: 600;
  font-size: large;
  color: white;
  padding: 0;
  padding-left: 5%;
}

img {
  width: 25px;
  height: 20px;
}

.volume-title {
  padding: 0;
}

/* input range css */

input[type="range"] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  padding-bottom: 17.5%;
  padding-left: 1%;
  padding-right: 5%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  background-color: white;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:active::-webkit-slider-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-moz-range-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-ms-thumb {
  border-color: #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
