.library {
    flex-direction: column;
    display: flex;
    flex: 1;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.header {
    flex-direction: column;
    display: flex;
    flex: 5;
    height: 100%;
    border: 1px solid red;
}

.tabs {
    flex-direction: row;
    display: flex;
    flex: 5;
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid red;
    justify-content: flex-end;
}

.timer {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100vh / 3;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.todo {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100wh / 3;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.ambience {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.ambience-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
}

.tabButtonActive {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 60px;
    border-radius: 30px 30px 0px 0px;
    cursor: pointer;
    border: none;
}

.tabButtonInactive {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 60px;
    border-radius: 30px 30px 0px 0px;
    cursor: pointer;
    border: none;
}

.inactiveButtonText {
    color: white;
    opacity: 100%;
    font-size: 30px;
    font-family: 'Poppins'; 
    font-weight: 800;
}

.activeButtonText {
    color: #70BAFE;
    font-size: 30px;
    font-family: 'Poppins'; 
    font-weight: 800;
}

.spotifyButtonActive {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 15px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    border: none;
}

.spotifyButtonInactive {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    border: none;
}

.spotify {
    display: flex;
    flex-direction: row;    
}

.spotifyIcon {
    height: 3em;
    width: 3em;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem; 
}