.main {
    flex-direction: column;
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.header {
    flex-direction: column;
    display: flex;
    flex-grow: 2;
    flex: 7;
    height: 100%;
    border: 1px solid red;
}

.tabs {
    flex-direction: row;
    display: flex;
    flex-grow: 4;
    flex: 1;
    width: 100%;
    border: 1px solid red;
}

.timer {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.todo {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.ambience {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 0.25%;
    padding-right: 0.25%;
    border: 1px solid red;
    justify-content: flex-end;
}

.tabButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 100%;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
}