.timerSettings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    height: 30rem;
    width: 45rem;
    z-index: 100;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Poppins;
    font-weight: 400;
    color: white;
}

.darken {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 20%;
    height: 100%;
    width: 100%;
    z-index: 80;
}

.title {
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 3%;
}

.timerEntries {
    display: flex;
    flex: 3;
    margin-top: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.timeEntry {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 3.5em;
    margin-right: 3.5em;
    position: relative;
}

.select {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
}

.volume {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 5%;
}

.volume input[type="range"] {
    padding-top: 0.5em;
    width: 30%;
    height: -10%;
}

.volumeLabel { 
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 0.7em;
}

.botButtons {
    display: flex;
    flex: 5;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.textEntryLeft {
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 15px 0px 0px 15px;
    border-color: white;
    background-color: black;
    color: white;
    margin-top: 0.2em;
    border-right-width: 0;

}

.textEntryRight {
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 0px 15px 15px 0px;
    border-color: white;
    background-color: black;
    color: white;
    margin-top: 0.2em;
    border-left-width: 0;
}

.textEntryLeftBreak {
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 15px 0px 0px 15px;
    border-color: white;
    background-color: black;
    color: white;
    margin-top: 0.2em;
    border-right-width: 0;

}

.textEntryRightBreak {
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 0px 15px 15px 0px;
    border-color: white;
    background-color: black;
    color: white;
    margin-top: 0.2em;
    border-left-width: 0;
}

.timerSettingsText {
    font-family: Poppins;
    font-weight: 400;
    color: white;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.timerEntryLabels {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.7em;
    margin-top: 0.2em;
}

.switchLabel {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 0.7em;
}

.colonRight {
    position: fixed;
    top: 21.5%;
    left: 61.5%;
    pointer-events: none
}

.colonLeft {
    position: fixed;
    top: 21.5%;
    left: 26%;
    pointer-events: none
}

.botButtons button {
    transition: all 300ms ease-in-out;
    transform: translateY(0);
    cursor: pointer;
}
  
.botButtons button:hover {
    transform: translateY(-2px);
}

.settingButton {
    color: white;
    background: black;
    border-color: white;
    padding: 0.5rem 2rem;
    margin-left: 1em;
    margin-right: 1em;
    border: none;
    margin-left: 0.2rem;
    font-size: 1rem;
    font-family: "Poppins";
    border-radius: 15px;
    border: 2px solid white;    
    font-weight: bold;
}